<div class="page-header">
  <h1>Poll List</h1>
</div>
<div ng-show='listCtrl.alerts'>
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>
  <div uib-alert ng-repeat="alert in listCtrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="listCtrl.closeAlert($index)">{{alert.msg}}</div>
</div>
<div class="row">
  <div class="col-xs-5">
    <a href="#/admin/new_poll" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Poll</a>
    <button ng-show="listCtrl.polls.length" class="btn btn-danger" type="button" data-toggle="modal" data-target="#deleteModal"><span class="glyphicon glyphicon-trash"></span> Delete All</button>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="deleteModal">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel"><span class="glyphicon glyphicon-warning-sign"></span> Delete All Poll</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete all polls?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id='close'>No</button>
            <button ng-click="listCtrl.deleteAll()" type="button" class="btn btn-danger">Delete all!</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
  <div class="col-xs-7">
    <input type="text" class="form-control" ng-model="query" placeholder="Search for a poll">
  </div>
</div>

<div class="row">
  <div class="row" ng-show="!listCtrl.polls.length">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
  <p class="text-center" ng-show="!listCtrl.polls.length">
    No polls in database. Would you like to <a href="#/admin/new_poll">create one</a>?
  </p>
  </br>
  </br>
  </br>
  <div class="table-responsive" ng-show="listCtrl.polls.length">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Poll</th>
          <th>Deadline</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="poll in listCtrl.polls | filter: query" ng-attr-class="{{poll.isActive?'success':'text-muted'}}" id="tr-{{$index}}">
          <td><b>{{$index+1}}</b></td>
          <td>{{poll.question.text}}</td>
          <td>{{poll.expiry_date|date:'MMM dd, yyyy hh:mm:ss a'}}</td>
          <td>
            {{poll.isActive?"online":"offline"}}
            <button ng-click=" listCtrl.toggleActive($index,poll) " type="button " class="btn btn-xs switch" ng-disabled="poll.status ">
                     <i layout="row" layout-align="center center"  class='fa fa-toggle-on fa-2x' aria-hidden='true' ng-show = "poll.isActive">
                        <md-progress-circular ng-style="{'visibility': poll.status ? 'visible' : 'hidden'}" md-diameter="15px"></md-progress-circular>
                     </i>
                     <i layout="row" layout-align="center center"  class='fa fa-toggle-off fa-2x' aria-hidden='true' ng-show = "!poll.isActive">
                        <md-progress-circular ng-style="{'visibility': poll.status ? 'visible' : 'hidden'}" md-diameter="15px"></md-progress-circular>
                     </i>
                  </button>
          </td>

          <td class="text-right">

            <button ng-click="listCtrl.edit($index,poll)" type="button " class="btn btn-xs btn-default " ng-disabled="poll.status"><i class = "glyphicon glyphicon-pencil " ></i> edit</button>
            <button ng-click="listCtrl.delete($index,poll)" type="button " class="btn btn-xs btn-danger " ng-disabled="poll.status "><i class = "glyphicon glyphicon-trash " ></i> delete</button>
          </td>

        </tr>
      </tbody>

    </table>

  </div>
</div>
<p>&nbsp;</p>
